<div class="text-center text-info">
  <h1>Your Pending Posts</h1>
</div>
<%if current_user.users? %>
  <ul class="list-inline text-center ">
    <li class="list-inline-item p-5 border border-primary"><%=link_to 'Create a Post' ,new_post_path%></li>
    <li class="list-inline-item p-5 border border-primary"><%=link_to 'All Posts' ,posts_path %></li>
    <li class="list-inline-item p-5 border border-danger"><%=link_to 'Rejected Posts' ,myrejected_posts_path %></li>
    <li class="list-inline-item p-5 border border-danger"><%=link_to 'View Your Suggestion Posts'  %></li>
  </ul>
  <ul >
    <% @posts.each do |post| %>
      <%if post.pending? and post.user==current_user%>
        <div class="container mt-5">
          <div class="d-flex justify-content-center row">
            <div class="col-md-8">
              <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                  <div class="d-flex flex-row user-info"><img class="rounded-circle" src="https://i.imgur.com/WUGxiYhb.jpg" width="40">
                    <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><%=post.user.email %></span><span class="date text-black-50"><%= post.created_at.strftime("%Y-%m-%d  at  %H:%M:%S") %></span></div>
                  </div>
                  <div class="mt-2">
                    <p class="comment-text">
                      <%=post.caption %>
                    </p>
                  </div>
                  <% if  post.image.attached?%>
                    <p>
                      <%=link_to (image_tag post.image, style: "width: 710px; display:block") , post_path(post)  %>
                    </p>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        <% end %>
      </ul>
    <%end%>
