<div>
  <h1><%= @post.user.email%></h1>
  <p><%= @post.caption %></p>
  <% if  @post.image.attached?%>
    <p>
      <%=image_tag @post.image, style: "width: 710px; display:block" %>
    </p>
  <%end%>
  <p> <%=pluralize(@post.likes.count,'like')%></p>
  <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
  <% if pre_like %>
    <%= button_to 'Unlike', like_path(likeable_type: "Post", likeable_id: @post.id), method: :delete %>
  <% else %>
    <%= button_to 'Like', likes_path(likeable_type: "Post", likeable_id: @post.id), method: :post %>
  <% end %>
  <% pre_report = @post.reports.find { |report| report.user_id == current_user.id} %>
  <% if pre_report %>
    <%= button_to 'withdraw report', report_destroy_post_path(@post, pre_report), method: :delete %>
  <% else %>
    <%= button_to 'report', report_post_path(@post), method: :post %>
  <% end %>
  <div class="form--input">
    <% @post.comments.each do |comment|%>
      <%if comment.commantable_type=="Post"%>
        <div class="card mb-2 rounded" style="width: 30rem;">
          <div class="card-body ">
            <%=comment.content%>
            <span class="text-info">(comment by <%=comment.user.email%> )</span>
            <p> <%=pluralize(comment.likes.count,'like')%></p>
            <% pre_like_comment = comment.likes.find { |like| like.user_id == current_user } %>
            <% if pre_like_comment %>
              <%= button_to 'Unlike', like_destroy_post_comment_path(@post.id,comment.id,pre_like_comment) , method: :delete %>
            <% else %>
              <%= button_to 'Like', like_post_comment_path(@post.id,comment.id) %>
            <% end %>
            <%if @post.user_id== current_user.id%>
              <%= button_to 'Edit' , edit_post_comment_path(@post,comment) %>
              <%= button_to 'Destroy', post_comment_path(@post,comment) , method: :delete %>
            <%end%>
            <% pre_comment_report = comment.reports.find { |report| report.user_id == current_user.id} %>
            <% if pre_comment_report %>
              <%= button_to 'withdraw report', report_destroy_post_comment_path(@post.id,comment.id, pre_comment_report), method: :delete %>
            <% else %>
              <%= button_to 'report', report_post_comment_path(@post.id,comment.id), method: :post %>
            <% end %>
            <%= link_to 'Suggestion' %>
            <br>
          </div>
        </div>
        <div>
        <%end%>
        <% if comment.replies.any? %>
          <% comment.replies.each do |reply| %>
            <%= render partial: 'comments/reply', locals: { reply: reply } %>
          <% end %>
        <% end %>
        <%if comment.commantable_type=="Post"%>
          <%= form_with  url: reply_post_comment_path(@post.id,comment.id), method: :post do |form| %>
            <div >
              <div >
                <img class="rounded-circle" src="https://i.imgur.com/WUGxiYhb.jpg" width="40">
                <%= form.text_area(:content, size: '10x1') %>
              </div>
              <div >
                <%= form.submit "create reply", class: 'btn btn-primary' %>
                <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
    <% end %>
