<!DOCTYPE html>
<html>
  <head>
    <title>TestPsql</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%if current_user%>
      <% if current_user.user?%>
        <ul class="list-inline text-center ">
          <li class="list-inline-item p-5 border border-primary"><%=link_to 'All Posts' ,posts_path%></li>
          <li class="list-inline-item p-5 border border-primary"><%=link_to 'Create a Post' ,new_post_path%></li>
          <li class="list-inline-item p-5 border border-primary"><%=link_to 'Pending Posts' ,pending_posts_path %></li>
          <li class="list-inline-item p-5 border border-danger"><%=link_to 'Rejected Posts' ,myrejected_posts_path %></li>
          <li class="list-inline-item p-5 border border-danger"><%=link_to 'View Your Suggestion Posts' ,suggestions_index_posts_path  %></li>
          <li class="list-inline-item p-2 border border-danger"> <%= button_to 'Logout' , destroy_user_session_path, method: :delete%></li>
          <li class="list-inline-item p-2 border border-danger"> <%= current_user.email%></li>
        </ul>
      <%end%>
      <% if current_user.moderator?%>
        <ul class="list-inline text-center ">
          <li class="list-inline-item p-5 border border-primary"><%=link_to 'Pending Posts' ,moderator_posts_path%></li>
          <li class="list-inline-item p-5 border border-primary"><%=link_to 'Reported Posts',reported_posts_path %></li>
          <li class="list-inline-item p-2 border border-danger"> <%= button_to 'Logout' , destroy_user_session_path, method: :delete%></li>
          <li class="list-inline-item p-2 border border-danger"> <%= current_user.email%></li>
        </ul>
      <%end%>
    <%end%>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
